@font-face{
    font-family: 'BreakingBadFont';
    src: url(breaking_b/Breaking\ Bad.ttf) format('truetype');
}
.index{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'BreakingBadFont';
}
#Logo{
    width: 200px;
    height: 200px;
}
#poster{
    width: 700px;
    height: 300px;
    border-radius: 22px;
    border: 10px outset brown ;
}
#tam{
    font-size: 35px;
}
.body{
    font-family: 'Helvetica';
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#letra{
     color: white;
}
.cuerpo{
    background-color: #0c3e11;
    font-family: Helvetica;
}
.t1{
    font-family: Helvetica;
    border: 5px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
}
.t2{
    font-family: Helvetica;
    border: 5px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;

}
td{
    width: 50px;
    height: 50px;
    font-family: Helvetica;
    font-size: 10px;
    border: 5px solid black;
}

#hankschrader{
    height: 110px;
    width: 60px;
}

.blanco{
    background-color: white;
}
.gris{
    background-color: #b8baab;
}
.negro{
    background-color: black;
}
#morado{
    background-color: #ab8ece;
}
.ver{
    background-color: #d8ea89;
}
.verosc{
    background-color: #829329;
}
.kaki{
    background-color: #616d26;
}
.grisosc{
    background-color: #757d54;
}
.forforito{
    background-color: #c6de51;
}
.col{
    background-color: #c0c624;
}
#img{
    width: 50px;
    height: 50px;
}
.vr{
    background-color: #a7ab33;
}
#letraxl{
    font-size: 25px;
}
#letrapeq{
    font-size: 7px;
}
